/* Header styling */
.page-title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 52px;
  font-weight: bold;
  color: #528a54;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

/* Add button styling */
.add-button {
  padding: 10px 20px;
  background-color: #528a54;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial', serif;
}

/* Add button  hover effect */
.add-button:hover {
  background-color: #477748; /* Darker green on hover */
}

/* Add button  bar styling */
.add-button-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
