/* Header styling */
.page-title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 52px;
  font-weight: bold;
  color: #528a54;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

/* Title for "name of recipe" styling */
.recipe-name-title {
  display: flex;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Arial', serif;
}

/* Title for styling description */
.title-style {
  display: flex;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Arial', serif;
  margin-right: 5px;
}

/* Title for styling some headers */
.title {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Arial', serif;
  margin-right: 5px;
  margin-left: 5px;
}

/*Big margin for line with servings, and cook times*/
.title-big-margin {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Arial', serif;
  margin-right: 30px;
  margin-left: 5px;
}

/* Title for styling some number inputs */
.number-input {
  display: flex;
  background-color: #eeeeee;
  font-size: 22px;
  font-family: 'Arial', serif;
  max-width: 65px;
  cursor: pointer;
}

/* Textarea for "name of recipe" and "description" styling */
.textarea-name {
  display: flex;
  width: 100%;
  font-size: 20px;
  background-color: #eeeeee;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Arial', serif;
}

/* Bold style for some fonts*/
.title-bold {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: 'Arial', serif;
  align-items: baseline;
  justify-content: flex-end;
}

/*Styling for line with servings, and cook times*/
.one-line-class {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

/* Submit button styling */
.submit-button {
  padding: 10px 20px;
  background-color: #528a54;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Arial', serif;
}

/* Submit button  hover effect */
.submit-button:hover {
  background-color: #477748; /* Darker green on hover */
}

/* Cancel button  hover effect */
.cancel-button:hover {
  background-color: #c7aa9f; /* Darker color on hover */
}

/* Styling container with cancel and submit buttons */
.cancel-submit-button-container {
  padding: 10px;
  float: right;
  margin-bottom: 30px;
}

/* Styling error message */
.error-message {
  color: rgb(202, 72, 72);
  font-size: 20px;
  margin-top: 10px;
}

.MuiSvgIcon-root {
  align-self: center;
  padding-bottom: 5px;
  padding-right: 5px;
}
