/* Styling ingredients table */
.type-table {
  width: 40%;
  border: none;
  align-content: center;
}

/* Styling table and confirm button */
.table-button-center {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List styling */
.listStyle {
  font-family: 'Arial', serif;
  font-size: 20px;
}

/*Styling calls */
.table-cells {
  width: 100%;
  padding: 5px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  vertical-align: top;
}

/* Submit button styling */
.confirm-button {
  padding: 10px 20px;
  background-color: #528a54;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Arial', serif;
  margin-top: 30px;
}

/* Submit button  hover effect */
/* .confirm-button:hover {
  background-color: #477748;  */
  /* Darker green on hover */
/* } */
