/* Header styling */
.page-title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 52px;
  font-weight: bold;
  color: #528a54;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

/* Temporary text styling */
.textStyle {
  display: flex;
  font-family: 'Arial', serif;
  font-size: 20px;
}

/* Css for ViewRecipes */
.viewRecipeInfo {
  display: inline-block;
  align-items: center;
  margin: 50px 20px 20px 20px;
  /* margin-bottom: 20px; */
}

.recipeImg {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 200px;
  height: 200px;
  float: left;
  /* margin-left: 20px; */
}

.recipeNameCard {
  float: right;
  margin-left:30px;
  width: 676px;
}

.recipeNameCard h2 {
  font-size: 2.5rem;
}
.recipeNameCard p {
  font-size: 1.5rem;
}


.viewRecipeContainer {
  width: 940px;
  margin: 20px;
}

/* About page css */
.aboutContainer {
  align-items: center;
  /* background-color: #528a54; */
}

.aboutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 30px;
  gap: 50px;
}

.aboutTitle {
  float: left;
  font-size: 1.5rem;
}

.aboutContent {
  float: left;
  font-size: 1.5rem; /* Smaller font size for paragraph */
  font-family: 'Georgia', serif;
  margin: 0; /* Remove default margin */
}

.aboutImageList {
  justify-content: center;
  margin: 120px 30px;
}
