.footer {
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  color: #757575;
  width: 100%;
  text-align: center;
  /* attaches to bottom */
  margin-top: auto;
  background-color: #eeeeee;
}
