/* Centering the search bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Styling the input field */
.search-bar input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 2px;
  outline: none;
  transition: width 0.4s ease;
}

/* Input field focus styling */
.search-bar input:focus {
  border-color: #528a54;
}

/* Styling the search button */
.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #528a54;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial', serif;
}

/* Button hover effect */
.search-bar button:hover {
  background-color: #477748; /* Darker green on hover */
}
