/* ConfirmModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', serif;
  font-size: 20px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  width: 550px;
  text-align: center;
  color: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leave-button {
  background-color: rgb(188, 87, 87);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Arial', serif;
  font-size: 18px;
}

/* Cancel button  hover effect */
.leave-button:hover {
  background-color: rgb(191, 62, 62); /* Darker color on hover */
}

.stay-button {
  background-color: #528a54;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Arial', serif;
  font-size: 18px;
}

/* Submit button  hover effect */
.stay-button:hover {
  background-color: #477748; /* Darker green on hover */
}
