/* Styling image  container */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling recipe image */
.image-container .recipe-image {
  width: 250px;
  height: 250px;
  background-color: rgb(231, 230, 230);
  margin-bottom: 20px;
  border-radius: 2px;
}

/* Styling upload button */
.upload-button {
  padding: 10px 20px;
  border: none;
  color: black;
  background-color: rgb(231, 230, 230);
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial', serif;
}
/* Upload button  hover effect */
.upload-button:hover {
  background-color: rgb(178, 177, 177); /* Darker color on hover */
}

/* Hide the default file input button */
.file-input {
  display: none; /* Hide the actual file input */
}
