/* Styling image  container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling ingredients table */
.ingredient-step-table {
  width: 100%;
  border: none;
}

/*Styling rows */
.table-rows {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #eeeeee;
}

/*Styling remove button*/
.remove-ingredient-step-button {
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/*Width amount row*/
.width-amount {
  width: 150px;
}

/*Width measure type row*/
.width-measure {
  width: 150px;
}

.error-row {
  background-color: #fba2a2; /* Light red background for invalid rows */
}

.container .MuiTableCell-root {
  padding-bottom: 5px;
  border-style: hidden;
  vertical-align: baseline;
  padding-right: 5px;
}

/* Remove row button */
.container .MuiTableCell-root.remove-row-button {
  width: 10px;
  vertical-align: middle;
}
