/* Cards styling */
.recipe-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Styling the recipe card */
.recipe-card {
  width: 270px;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* text-align: center; */
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Recipe card hover effect */
.recipe-card:hover {
  transform: translateY(-10px);
}

.imageContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

/* Styling recipe image */
.recipe-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 10px;
  margin: 0px 10px;
  text-align: center;
}

/* Styling recipe info */
.recipe-info {
  padding: 0px 16px 16px 16px;
  text-align: left;
}

/* Styling recipe title */
.recipe-title {
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: bolder;
  margin-bottom: 0;
  color: #333;
  margin-bottom: 10px;
}

/* Styling recipe additional info */
.recipe-description {
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}

/* Read more button styling */
.read-more-button {
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
  color: #528a54;
  font-family: 'Arial', serif;
}

/* Bold style for some fonts in recipe card */
.bold {
  font-weight: bolder;
}
