/* App styling */
.App {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 16px 16px;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

/* Separator styling */
.separator {
  border-color: #819082;
  margin: 0;
}
